﻿@model PagedList.PagedList<RushHourMVC.Models.Appointment>
@using PagedList.Mvc 
@using RushHourMVC.Helpers


@{
    ViewBag.Title = "AllAppointments";
}

<style>
    table {
        border: 2px solid black;
        width: 100%;
    }

        table tr td {
            border: 2px solid black;
            text-align: center;
            word-wrap: break-word;
        }

        table tr:hover {
            background-color: lightgrey;
            color: #fff;
        }

        table tr th {
            border: 2px solid black;
            text-align: center;
            background-color: #fff;
            color: #000;
        }
</style>
<h2>AllAppointments</h2>
@if (!LoginUserSession.Current.IsAdministrator) { 
    <p>
        @Html.ActionLink("Create New", "CreateAppointment","Home",new{@class="btn btn-success" })
    </p>
}
<table class="table">
    <tr>
        <th>
            StartDateTime
        </th>
        <th>
            EndDateTime
        </th>
        <th>
            Status
        </th>
         @if (!LoginUserSession.Current.IsAdministrator)
        {
        <th>
            Operations
        </th>
         }
         else { 
        <th>
            CreatedBy
        </th>
         }
        
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StartDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDateTime)
        </td>
       
        <td>
            @if (item.Status == true)
            {
                <img src="@Url.Content("http://i.imgur.com/WesTHdt.png")" width="48" height="48"  title="OK!" alt="Image" />
            }
            else
            {
                <img src="@Url.Content("http://i.imgur.com/kBjHCpA.png")" width="38" height="38" title="Cancelled" alt="Image" />
            }
        </td>
            @if (!LoginUserSession.Current.IsAdministrator)
            {
                <td>
                    @Html.ActionLink("Edit", "EditAppointment","Home",new { id = item.Id }, new { @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "ViewAppointment","Home", new { id = item.Id }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "DeleteAppointment","Home", new { id = item.Id }, new { @class = "btn btn-danger" }) &nbsp;&nbsp;&nbsp;


                    @Html.ActionLink("Cancel", "CancelAppointment", "Home", new { id = item.Id }, new { @class = "btn btn-primary" })
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy.Name)
                </td>
            }
    </tr>
}
</table>
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AllAppointments", "Home", new { page }))
</div>
@if (LoginUserSession.Current.IsAdministrator) { 
<div>
    @Html.ActionLink("Back to profile", "LoggedAdmin", null, new { @class = "btn btn-default" })
</div>
}
else
    {
<div>
    @Html.ActionLink("Back to profile", "LoggedUser", null, new { @class = "btn btn-default" })
</div>
}