﻿@model PagedList.PagedList<RushHourMVC.Models.Activity>
@using PagedList.Mvc 
@{
    ViewBag.Title = "AllActivities";
}


<style>
    table {
        border: 2px solid black;
        width: 100%;
    }

        table tr td {
            border: 2px solid black;
            text-align: center;
            word-wrap: break-word;
        }

        table tr:hover {
            background-color: lightgrey;
            color: #fff;
        }

        table tr th {
            border: 2px solid black;
            text-align: center;
            background-color: #fff;
            color: #000;
        }
</style>
 
<h2>AllActivities</h2>

<p>
    @Html.ActionLink("Create New", "CreateActivity", "Home", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Duration
        </th>
        <th>
            Price
        </th>
        <th>
            Opeations
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditActivity","Home", new { id = item.Id }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "ViewActivity","Home", new { id = item.Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "DeleteActivity","Home", new { id = item.Id } ,new { @class = "btn btn-danger" })
        </td>
    </tr>
    }
</table>
<br />
<div id='Paging' style="text-align:center">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
    of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("AllActivities", "Home", new { page }))
</div>
<div>
    @Html.ActionLink("Back to profile", "LoggedAdmin", null, new { @class = "btn btn-default" })
</div>