﻿@model PagedList.PagedList<RushHourMVC.Models.User>
@using PagedList.Mvc    

@{
    ViewBag.Title = "AllUsers";
}
<style>
        table {
            border:2px solid black;
            width: 100%;
        }

        table tr td {
            border: 2px solid black;
            text-align: center;
            word-wrap: break-word;
        }

        table tr:hover {
            background-color: lightgrey;
            color: #fff;
        }

        table tr th {
            border: 2px solid black;
            text-align: center;
            background-color: #fff;
            color: #000;
        }
</style> 
<h2>AllUsers</h2>
<p>
    @Html.ActionLink("Create New", "CreateUser", "Home", new { @class = "btn btn-success" })
</p>
@using (Html.BeginForm())
{
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Opeations
        </th>
    </tr>
@foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id },new { @class = "btn btn-warning" })|
                @Html.ActionLink("Details", "ViewProfile","Home", new { id = item.Id },new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "DeleteUser", "Home", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
</table>
<br />
    <div id='Paging' style="text-align:center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("AllUsers", "Home", new { page }))
    </div>
}
<div>
    @Html.ActionLink("Back to profile", "LoggedAdmin", null, new { @class = "btn btn-default" })
</div>