﻿@model RushHourMVC.ViewModels.AppointmentViewModel

@{
    ViewBag.Title = "CreateAppointment";
}

<h2>CreateAppointment</h2>

@using (Html.BeginForm("CreateAppointment", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.UserID)    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.StartDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDateTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDateTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndDateTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(model => model.Status, new { @Status = true })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div style="margin-left:38px">
            <hr />
            <p style="font-style:italic"><b>Choose Activities</b></p>
            <hr />
            <div class="form-group">
                @for (int i = 0; i < Model.CheckedActivities.Count; i++)
                {
                    <br />                    
                    <input type="checkbox" name="ChoosenActivities" value="@Model.CheckedActivities[i].Id" id="@Model.CheckedActivities[i].Name" />
                    <label for="@Model.CheckedActivities[i].Name">@Model.CheckedActivities[i].Name (Price: $@Model.CheckedActivities[i].Price, Duration: @Model.CheckedActivities[i].Duration minutes)</label>
                }
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to profile", "LoggedUser", null, new { @class = "btn btn-default" })
</div>
