﻿
@{
    ViewBag.Title = "Index";
}
<h1 style="margin-top:150px;font-family:Verdana;text-align:center">Welcome to RushHourMVC-ASP.NET-PROJECT</h1><br /><br />
<img style="margin-left:36%" src="http://i.imgur.com/SXhFFeK.png" />
<div style="margin-left:42.8%;margin-bottom:10%;display:inline-block">
    <button type="button" onclick="location.href='@Url.Action("Login", "Home")'" class="btn btn-success">Login</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button type="button" onclick="location.href='@Url.Action("Register", "Home")'" class="btn btn-primary">Register</button>
</div>

