﻿@using RushHourMVC.Helpers
@{
    ViewBag.Title = "LoggedUser";
}

<h2>Welcome @LoginUserSession.Current.Name</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <button style="float:right;margin-top:7px;margin-right:20px" type="button" onclick="location.href='@Url.Action("Logout", "Home")'" class="btn btn-danger" value="Log out">Log Out</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("ViewMyProfile", "Home")'">My Profile</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("EditMyProfile", "Home")'">Edit Profile</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("AllAppointments", "Home")'">My Appointments</button>
</div>
<div style="margin:230px">
    <img src="http://i.imgur.com/pEE9eSt.png" />
</div>