﻿@using RushHourMVC.Helpers
@{
    ViewBag.Title = "LoggedAdmin";
}

<h2>Welcome @LoginUserSession.Current.Name</h2>
<div class="navbar navbar-inverse navbar-fixed-top">
    <button style="float:right;margin-top:7px;margin-right:20px" type="button" onclick="location.href='@Url.Action("Logout", "Home")'" class="btn btn-danger" value="Log out">Log Out</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("AllUsers", "Home")'">Users</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("AllAppointments","Home")'">Appointments</button>
    <button style="float:left;margin-top:7px;margin-left:20px" type="button" class="btn btn-default" onclick="location.href='@Url.Action("AllActivities","Home")'">Activities</button>
</div>
<div style="margin:130px">
<img src="http://i.imgur.com/hSs8MZz.png"/>
</div>