﻿@model RushHourMVC.ViewModels.AppointmentViewModel

@{
    ViewBag.Title = "ViewAppointment";
}

<h2>ViewAppointment</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
    </dl>

    <hr />
    <div style="margin:38px">
        <p style="font-style:italic"><b>Activities</b></p>
        <div class="form-group">
            @for (int i = 0; i < Model.CheckedActivities.Count; i++)
            {
                <br />
                <input type="hidden"  name="ChoosenActivities" value="@Model.CheckedActivities[i].Id" id="@Model.CheckedActivities[i].Name" checked/>
                <label for="@Model.CheckedActivities[i].Name">@Model.CheckedActivities[i].Name (Price: $@Model.CheckedActivities[i].Price, Duration: @Model.CheckedActivities[i].Duration minutes)</label>
            }
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Back to MyAppointments", "AllAppointments","Home",new {@class="btn btn-default"})
</p>
