﻿@model RushHourMVC.ViewModels.UserProfileViewModel
@using RushHourMVC.Helpers
@{
    ViewBag.Title = "ViewProfile";
}

<h2>My Profile</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

    </dl>
</div>
<p>
   @if (LoginUserSession.Current.IsAdministrator)
   {
    @Html.ActionLink("Back to AllUsers", "AllUsers", null, new { @class = "btn btn-default" })
   }
   else
   {
   @Html.ActionLink("Back to profile", "LoggedUser", null, new { @class = "btn btn-default" })
   }
</p>
