﻿@model RushHourMVC.ViewModels.CreateActivityViewModel

@{
    ViewBag.Title = "ViewActivity";
}

<h2>ViewActivity</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Duration) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price) |
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price) 
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to AllActivities", "AllActivities", null, new { @class = "btn btn-default" })
</p>
