﻿@using RushHourMVC.Helpers
@{
    ViewBag.Title = "ErrorPage";
}

<h2>ErrorPage</h2>

<div>@ViewBag.ErrorMessage</div>
<div>@ViewBag.ErrorDetails</div>
<br />
<p>
    @if (LoginUserSession.Current.IsAdministrator)
    {
        @Html.ActionLink("Back to profile", "LoggedAdmin", null, new { @class = "btn btn-default" })
    }
    else if (!LoginUserSession.Current.IsAuthenticated)
    {
        @Html.ActionLink("Home Page", "Index", null, new { @class = "btn btn-default" })
    }
    else
    {
        @Html.ActionLink("Back to profile", "LoggedUser", null, new { @class = "btn btn-default" })
    }
</p>
